In [1]:
import pandas as pd
from nltk.corpus import wordnet as wn

In [2]:
word_list=[]
for i in wn.words():
    #print(i)
    word_list.append(i)
print(len(word_list))

147306

In [3]:
filtered_words = []
for i in word_list:
    if len(i)>1 and "_" not in i and "-" not in i and "'" not in i:
        filtered_words.append(i)
print(len(filtered_words))

77806

In [4]:
filtered_words2 = []
for i in filtered_words:
    if "1" not in i and "2" not in i and "3" not in i and "4" not in i and "5" not in i and "6" not in i:
        filtered_words2.append(i)
print(len(filtered_words2))

77574

In [5]:
filtered_words3 = []
for i in filtered_words2:
    if "7" not in i and "8" not in i and "9" not in i and "0" not in i :
        filtered_words3.append(i)
print(len(filtered_words3))

77554

In [6]:
filtered_words4 = []
for i in filtered_words3:
    if "." not in i:
        filtered_words4.append(i)
print(len(filtered_words4))

77484

In [7]:
from nltk.stem import WordNetLemmatizer
wnl = WordNetLemmatizer()
for i in word_list:
    i = wnl.lemmatize(i)

In [8]:
for i in filtered_words4:
    i = i.replace(r'[^\w\s]+', '')

In [9]:
word_tuple = sorted(list(set(filtered_words4)))
print(len(word_tuple))

77484

In [10]:
word_list = list(word_tuple)
print(len(word_list))

77484

from nltk.corpus import wordnet as wn
for ss in wn.all_synsets():
    print (ss)
    print (ss.definition())
    break

In [11]:
# List to store definitions for each word
definitions_list = []

for word in word_list:
    synsets = wn.synsets(word)
    word_definitions = []
    
    for synset in synsets:
        word_definitions.append(synset.definition())
    word_definitions_concatenated = "; ".join(word_definitions)
    definitions_list.append(word_definitions_concatenated)

In [12]:
print(len(definitions_list))

77484

In [13]:
for i in range(4):
    print(definitions_list[i])
    print()

a dry form of lava resembling clinkers; an international organization that provides a support group for persons trying to overcome alcoholism; an associate degree in arts

an aneurysm of the abdominal aorta associated with old age and hypertension

a city in western Germany near the Dutch and Belgian borders; formerly it was Charlemagne's northern capital

express admiration and pleasure by uttering `ooh' or `aah'

In [14]:
def get_all_synonyms(word):
    synonyms = []
    for ss in wn.synsets(word):
        synonyms.extend(ss.lemma_names())
        for sim in ss.similar_tos():
            synonyms_batch = sim.lemma_names()
            synonyms.extend(synonyms_batch)
    synonyms = set(synonyms)
    if word in synonyms:
        synonyms.remove(word)
    synonyms = [synonym.replace('_',' ') for synonym in synonyms]
    return synonyms

In [15]:
synonyms_list = []
for word in word_list:
    synonyms = get_all_synonyms(word)
    synonyms_concatenated = "; ".join(synonyms)
    synonyms_list.append(synonyms_concatenated)

In [16]:
for i in range(4):
    print(synonyms_list[i])
    print()

Associate in Arts; AA; Alcoholics Anonymous

AAA; abdominal aortic aneurysm

Aix-la-Chapelle; Aachen; Aken

ooh

In [17]:
df = pd.DataFrame(
    {'word':word_list,
    'meaning':definitions_list,
    'synonyms':synonyms_list}
)

In [18]:
df.head(10)

,word,meaning,synonyms
0,aa,a dry form of lava resembling clinkers; an int...,Associate in Arts; AA; Alcoholics Anonymous
1,aaa,an aneurysm of the abdominal aorta associated ...,AAA; abdominal aortic aneurysm
2,aachen,a city in western Germany near the Dutch and B...,Aix-la-Chapelle; Aachen; Aken
3,aah,express admiration and pleasure by uttering `o...,ooh
4,aalborg,a city and port in northern Jutland,Alborg; Aalborg
5,aalii,a small Hawaiian tree with hard dark wood,
6,aalst,a town in central Belgium,Aalst
7,aalto,Finnish architect and designer of furniture (1...,Hugo Alvar Henrik Aalto; Aalto; Alvar Aalto
8,aar,a river in north central Switzerland that runs...,Aare; Aare River; Aar
9,aardvark,nocturnal burrowing mammal of the grasslands o...,anteater; ant bear; Orycteropus afer

In [19]:
df[['meaning1','meaning2']] = df['meaning'].str.split('; ', 1, expand=True)
df[['meaning3','meaning4','meaning5']] = df['synonyms'].str.split('; ', 2, expand=True)
df.head(10)

C:\Users\Rhea Pandita\AppData\Local\Temp\ipykernel_22164\2120708685.py:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[['meaning1','meaning2']] = df['meaning'].str.split('; ', 1, expand=True)
C:\Users\Rhea Pandita\AppData\Local\Temp\ipykernel_22164\2120708685.py:2: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[['meaning3','meaning4','meaning5']] = df['synonyms'].str.split('; ', 2, expand=True)

,word,meaning,synonyms,meaning1,meaning2,meaning3,meaning4,meaning5
0,aa,a dry form of lava resembling clinkers; an int...,Associate in Arts; AA; Alcoholics Anonymous,a dry form of lava resembling clinkers,an international organization that provides a ...,Associate in Arts,AA,Alcoholics Anonymous
1,aaa,an aneurysm of the abdominal aorta associated ...,AAA; abdominal aortic aneurysm,an aneurysm of the abdominal aorta associated ...,None,AAA,abdominal aortic aneurysm,None
2,aachen,a city in western Germany near the Dutch and B...,Aix-la-Chapelle; Aachen; Aken,a city in western Germany near the Dutch and B...,formerly it was Charlemagne's northern capital,Aix-la-Chapelle,Aachen,Aken
3,aah,express admiration and pleasure by uttering `o...,ooh,express admiration and pleasure by uttering `o...,None,ooh,None,None
4,aalborg,a city and port in northern Jutland,Alborg; Aalborg,a city and port in northern Jutland,None,Alborg,Aalborg,None
5,aalii,a small Hawaiian tree with hard dark wood,,a small Hawaiian tree with hard dark wood,None,,None,None
6,aalst,a town in central Belgium,Aalst,a town in central Belgium,None,Aalst,None,None
7,aalto,Finnish architect and designer of furniture (1...,Hugo Alvar Henrik Aalto; Aalto; Alvar Aalto,Finnish architect and designer of furniture (1...,None,Hugo Alvar Henrik Aalto,Aalto,Alvar Aalto
8,aar,a river in north central Switzerland that runs...,Aare; Aare River; Aar,a river in north central Switzerland that runs...,None,Aare,Aare River,Aar
9,aardvark,nocturnal burrowing mammal of the grasslands o...,anteater; ant bear; Orycteropus afer,nocturnal burrowing mammal of the grasslands o...,sole extant representative of the order Tubuli...,anteater,ant bear,Orycteropus afer

In [20]:
df = df.drop(['meaning','synonyms'],axis=1)
df = df.reset_index(drop=True)
df.head(10)

,word,meaning1,meaning2,meaning3,meaning4,meaning5
0,aa,a dry form of lava resembling clinkers,an international organization that provides a ...,Associate in Arts,AA,Alcoholics Anonymous
1,aaa,an aneurysm of the abdominal aorta associated ...,None,AAA,abdominal aortic aneurysm,None
2,aachen,a city in western Germany near the Dutch and B...,formerly it was Charlemagne's northern capital,Aix-la-Chapelle,Aachen,Aken
3,aah,express admiration and pleasure by uttering `o...,None,ooh,None,None
4,aalborg,a city and port in northern Jutland,None,Alborg,Aalborg,None
5,aalii,a small Hawaiian tree with hard dark wood,None,,None,None
6,aalst,a town in central Belgium,None,Aalst,None,None
7,aalto,Finnish architect and designer of furniture (1...,None,Hugo Alvar Henrik Aalto,Aalto,Alvar Aalto
8,aar,a river in north central Switzerland that runs...,None,Aare,Aare River,Aar
9,aardvark,nocturnal burrowing mammal of the grasslands o...,sole extant representative of the order Tubuli...,anteater,ant bear,Orycteropus afer

In [21]:
print(len(df))
df = df.dropna()
df = df.reset_index(drop=True)
print(len(df))

77484
21619

In [22]:
df.head(10)

,word,meaning1,meaning2,meaning3,meaning4,meaning5
0,aa,a dry form of lava resembling clinkers,an international organization that provides a ...,Associate in Arts,AA,Alcoholics Anonymous
1,aachen,a city in western Germany near the Dutch and B...,formerly it was Charlemagne's northern capital,Aix-la-Chapelle,Aachen,Aken
2,aardvark,nocturnal burrowing mammal of the grasslands o...,sole extant representative of the order Tubuli...,anteater,ant bear,Orycteropus afer
3,aaron,United States professional baseball player who...,(Old Testament) elder brother of Moses and fir...,Henry Louis Aaron,Aaron,Hank Aaron
4,aas,an associate degree in applied science,a dry form of lava resembling clinkers; an int...,Associate in Arts,aa,Associate in Applied Science; Alcoholics Anony...
5,ab,a bachelor's degree in arts and sciences,the eleventh month of the civil year; the fift...,BA,abdominal muscle,Av; AB; type AB; abdominal; group AB; Bachelor...
6,abaca,a kind of hemp obtained from the abaca plant i...,Philippine banana tree having leafstalks that ...,Manila hemp,Manilla hemp,Musa textilis
7,abandon,the trait of lacking restraint or control,reckless freedom from inhibition or worry; a f...,give up,desert,forsake; unconstraint; vacate; empty; desolate...
8,abandoned,"forsake, leave behind",give up with the intent of never claiming agai...,uninhabited,give up,desert; forsake; uninhibited; vacate; empty; d...
9,abandonment,the act of giving something up,withdrawing support or help despite allegiance...,desertion,defection,forsaking

In [23]:
#only keep those rows where the length of the word is 5
df = df[df['word'].str.len() > 2]
df = df.reset_index(drop=True)
df.head(20)

,word,meaning1,meaning2,meaning3,meaning4,meaning5
0,aachen,a city in western Germany near the Dutch and B...,formerly it was Charlemagne's northern capital,Aix-la-Chapelle,Aachen,Aken
1,aardvark,nocturnal burrowing mammal of the grasslands o...,sole extant representative of the order Tubuli...,anteater,ant bear,Orycteropus afer
2,aaron,United States professional baseball player who...,(Old Testament) elder brother of Moses and fir...,Henry Louis Aaron,Aaron,Hank Aaron
3,aas,an associate degree in applied science,a dry form of lava resembling clinkers; an int...,Associate in Arts,aa,Associate in Applied Science; Alcoholics Anony...
4,abaca,a kind of hemp obtained from the abaca plant i...,Philippine banana tree having leafstalks that ...,Manila hemp,Manilla hemp,Musa textilis
5,abandon,the trait of lacking restraint or control,reckless freedom from inhibition or worry; a f...,give up,desert,forsake; unconstraint; vacate; empty; desolate...
6,abandoned,"forsake, leave behind",give up with the intent of never claiming agai...,uninhabited,give up,desert; forsake; uninhibited; vacate; empty; d...
7,abandonment,the act of giving something up,withdrawing support or help despite allegiance...,desertion,defection,forsaking
8,abase,cause to feel shame,hurt the pride of,humble,mortify,chagrin; humiliate
9,abasement,a low or downcast state,- H.L.Menchken; depriving one of self-esteem,degradation,abjection,humiliation
10,abashed,cause to be embarrassed,cause to feel self-conscious; feeling or cause...,abash,embarrassed,embarrass; discomposed; chagrined
11,abate,make less active or intense,become less in amount or intensity,let up,slack off,die away; slake; slack
12,abatement,an interruption in the intensity or amount of ...,the act of abating,hiatus,suspension,respite; reprieve
13,abb,an urban hit squad and guerrilla group of the ...,formed in the 1980s,Revolutionary Proletarian Army,Alex Boncayao Brigade,RPA-ABB; ABB
14,abbreviate,reduce in scope while retaining essential elem...,shorten,reduce,contract,shorten; abridge; cut; foreshorten
15,abbreviated,reduce in scope while retaining essential elem...,shorten; (of clothing) very short; cut short i...,reduce,short,brief; contract; shorten; truncated; abridge; ...
16,abcs,the elementary stages of any subject (usually ...,the elementary stages of any subject (usually ...,first rudiment,ABCs,ABC; alphabet; ABC's; rudiment; first principle
17,abdias,a Hebrew minor prophet,an Old Testament book telling Obadiah's prophe...,Book of Obadiah,Obadiah,Abdias
18,abdomen,the region of the body of a vertebrate between...,the cavity containing the major viscera; in ma...,belly,stomach,venter; abdominal cavity
19,abducent,a small motor nerve supplying the lateral rect...,especially of muscles; drawing away from the m...,abducent nerve,abducens,abducting; sixth cranial nerve; abducens nerve...

In [24]:
len(df)

21440

In [25]:
for col in df.columns:
    df[col] = df[col].str.lower()

In [26]:
for column in df.columns:
    df[column] = df[column].str.lstrip().str.rstrip()

In [27]:
for column in df.columns:
    df[column] = df[column].str.replace(r'[^\w\s]+', '')

C:\Users\Rhea Pandita\AppData\Local\Temp\ipykernel_22164\1347059589.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df[column] = df[column].str.replace(r'[^\w\s]+', '')

In [28]:
df.head()

,word,meaning1,meaning2,meaning3,meaning4,meaning5
0,aachen,a city in western germany near the dutch and b...,formerly it was charlemagnes northern capital,aixlachapelle,aachen,aken
1,aardvark,nocturnal burrowing mammal of the grasslands o...,sole extant representative of the order tubuli...,anteater,ant bear,orycteropus afer
2,aaron,united states professional baseball player who...,old testament elder brother of moses and first...,henry louis aaron,aaron,hank aaron
3,aas,an associate degree in applied science,a dry form of lava resembling clinkers an inte...,associate in arts,aa,associate in applied science alcoholics anonym...
4,abaca,a kind of hemp obtained from the abaca plant i...,philippine banana tree having leafstalks that ...,manila hemp,manilla hemp,musa textilis

In [29]:
def sentence_wo_token(col):
    l1=[]
    for j in df[col]:
        l1.append(j)
    return l1

In [30]:
nontokenized_meaning1=[]
nontokenized_meaning1 = sentence_wo_token('meaning1')

In [31]:
nontokenized_meaning2=[]
nontokenized_meaning2 = sentence_wo_token('meaning2')

In [32]:
nontokenized_meaning3=[]
nontokenized_meaning3 = sentence_wo_token('meaning3')

In [33]:
nontokenized_meaning4=[]
nontokenized_meaning4 = sentence_wo_token('meaning4')

In [34]:
nontokenized_meaning5=[]
nontokenized_meaning5 = sentence_wo_token('meaning5')

In [35]:
from sentence_transformers import SentenceTransformer

In [36]:
model = SentenceTransformer('bert-base-nli-mean-tokens')

C:\Users\Rhea Pandita\anaconda3\lib\site-packages\torch\_utils.py:776: UserWarning: TypedStorage is deprecated. It will be removed in the future and UntypedStorage will be the only storage class. This should only matter to you if you are using storages directly.  To access UntypedStorage directly, use tensor.untyped_storage() instead of tensor.storage()
  return self.fget.__get__(instance, owner)()

In [37]:
embeddings1 = model.encode(nontokenized_meaning1)

In [38]:
embedding1_list = []
for i in embeddings1:
    embedding1_list.append(i)

In [39]:
df['embedding1'] = embedding1_list

In [40]:
embeddings2 = model.encode(nontokenized_meaning2)

In [41]:
embedding2_list = []
for i in embeddings2:
    embedding2_list.append(i)

In [42]:
df['embedding2'] = embedding2_list

In [43]:
embeddings3 = model.encode(nontokenized_meaning3)

In [44]:
embedding3_list = []
for i in embeddings3:
    embedding3_list.append(i)

In [45]:
df['embedding3'] = embedding3_list

In [46]:
embeddings4 = model.encode(nontokenized_meaning4)

In [47]:
embedding4_list = []
for i in embeddings4:
    embedding4_list.append(i)

In [48]:
df['embedding4'] = embedding4_list

In [49]:
embeddings5 = model.encode(nontokenized_meaning5)

In [50]:
embedding5_list = []
for i in embeddings5:
    embedding5_list.append(i)

In [51]:
df['embedding5'] = embedding5_list

In [52]:
df2 = pd.DataFrame()
df2['embedding1'] = embedding1_list
df2['embedding2'] = embedding2_list
df2['embedding3'] = embedding3_list
df2['embedding4'] = embedding4_list
df2['embedding5'] = embedding5_list

In [53]:
df.head()

,word,meaning1,meaning2,meaning3,meaning4,meaning5,embedding1,embedding2,embedding3,embedding4,embedding5
0,aachen,a city in western germany near the dutch and b...,formerly it was charlemagnes northern capital,aixlachapelle,aachen,aken,"[0.10552966, -0.2111916, -0.042547125, 0.13038...","[-0.7410908, 0.3037946, 1.0067592, -0.03756384...","[-0.70134115, -0.1560492, 1.8670809, 0.0931303...","[-0.42886475, 0.06789703, 2.4393466, 0.1563847...","[-0.14427099, 0.28605372, 1.3342835, 0.1262898..."
1,aardvark,nocturnal burrowing mammal of the grasslands o...,sole extant representative of the order tubuli...,anteater,ant bear,orycteropus afer,"[-0.15250994, 0.59140694, -0.34323326, 0.12957...","[-0.04384717, 0.6120334, 0.790435, 0.06521284,...","[0.009730791, 0.496809, 0.41013932, 0.1373665,...","[0.12894955, 1.4916507, -0.31830812, -0.232148...","[0.09932873, -0.13440955, 1.4096322, 0.3468186..."
2,aaron,united states professional baseball player who...,old testament elder brother of moses and first...,henry louis aaron,aaron,hank aaron,"[-0.17691979, -0.27761042, -0.4785753, 0.32844...","[0.42689332, 1.4958502, -0.3949241, -0.3236406...","[-0.17629763, 0.86110705, 0.8352665, 0.2713195...","[-0.28148162, 0.32501546, 1.6964121, 0.1526436...","[-0.36929166, 1.0149219, 1.2935079, 0.23599564..."
3,aas,an associate degree in applied science,a dry form of lava resembling clinkers an inte...,associate in arts,aa,associate in applied science alcoholics anonym...,"[-0.1955431, 0.28204358, 1.6014135, 0.2948678,...","[-0.5539297, 1.3073884, 0.76646256, 0.10328976...","[-0.20551097, 0.21470872, 1.7353882, 0.3388543...","[0.21038896, 0.10880705, 2.3038127, 0.29001892...","[-0.21374436, 1.316712, 0.68170404, -0.1837967..."
4,abaca,a kind of hemp obtained from the abaca plant i...,philippine banana tree having leafstalks that ...,manila hemp,manilla hemp,musa textilis,"[-0.08495724, -1.0941188, 0.16890968, 0.784468...","[-0.24078937, -0.09390615, -0.29544133, 0.4669...","[0.09469901, -0.7468935, 0.6064788, 0.5366701,...","[0.012085825, -1.0377014, 1.0099944, 0.3805281...","[-0.24604101, -0.117436886, 1.4289687, -0.1175..."

In [54]:
len(df['embedding1'][0])

768

In [55]:
import numpy as np

In [56]:
def cosine(u, v):
    return np.dot(u, v) / (np.linalg.norm(u) * np.linalg.norm(v))

In [57]:
import random
index = random.randint(0,len(df))

In [58]:
query = df["word"][index]
query_vec = model.encode([query])[0]

In [59]:
final_list = []

In [60]:
match = {}
for index,sent in enumerate(df['embedding1']):
    sim = cosine(query_vec, sent)
    #print("Sent = ", sent, "; similarity = ", sim)
    
    if sim>0.75:
        match[index]=sim

In [61]:
print(len(match))

s_match1 = sorted(match.items(), key=lambda x: x[1], reverse=True)
# Extract keys of the top 10 highest values
top_10_keys1 = [item[0] for item in s_match1[:10]]
print(top_10_keys1)

7
[1326, 15848, 12279, 12282, 12283, 6220, 5935]

In [62]:
for i in top_10_keys1:
    print(df['word'][i])
    final_list.append(df['word'][i])

automotive
ride
motored
motorize
motorized
electric
driven

In [63]:
match2 = {}
for index,sent in enumerate(df['embedding2']):
    sim = cosine(query_vec, sent)
    #print("Sent = ", sent, "; similarity = ", sim)
    
    if sim>0.75:
        match2[index]=sim

In [64]:
print(len(match2))

s_match2 = sorted(match2.items(), key=lambda x: x[1], reverse=True)
top_10_keys2 = [item[0] for item in s_match2[:10]]
print(top_10_keys2)

0
[]

In [65]:
for i in top_10_keys2:
    print(df['word'][i])
    final_list.append(df['word'][i])

In [66]:
match3 = {}
for sindex,sent in enumerate(df['embedding3']):
    sim = cosine(query_vec, sent)
    #print("Sent = ", sent, "; similarity = ", sim)
    
    if sim>0.75:
        match3[index]=sim

In [67]:
print(len(match3))

s_match3 = sorted(match3.items(), key=lambda x: x[1], reverse=True)
top_10_keys3 = [item[0] for item in s_match3[:10]]
print(top_10_keys3)

1
[21439]

In [68]:
for i in top_10_keys3:
    print(df['word'][i])
    final_list.append(df['word'][i])

zymosis

In [69]:
match4 = {}
for index,sent in enumerate(df['embedding4']):
    sim = cosine(query_vec, sent)
    #print("Sent = ", sent, "; similarity = ", sim)
    
    if sim>0.75:
        match4[index]=sim

In [70]:
print(len(match4))

s_match4 = sorted(match4.items(), key=lambda x: x[1], reverse=True)
top_10_keys4 = [item[0] for item in s_match4[:10]]
print(top_10_keys4)

27
[11363, 15019, 1317, 1325, 9125, 12275, 5237, 12284, 5932, 6039]

In [71]:
for i in top_10_keys4:
    print(df['word'][i])
    final_list.append(df['word'][i])

machine
racer
auto
automobile
horn
motorcar
detroit
motown
drive
dynamic

In [72]:
match5 = {}
for index,sent in enumerate(df['embedding5']):
    sim = cosine(query_vec, sent)
    #print("Sent = ", sent, "; similarity = ", sim)
    
    if sim>0.75:
        match5[index]=sim

In [73]:
print(len(match5))

s_match5 = sorted(match5.items(), key=lambda x: x[1], reverse=True)
top_10_keys5 = [item[0] for item in s_match5[:10]]
print(top_10_keys5)

5
[1317, 1325, 12275, 16040, 3135]

In [74]:
for i in top_10_keys5:
    print(df['word'][i])
    final_list.append(df['word'][i])

auto
automobile
motorcar
route
changer

In [75]:
print(query)

automobile

In [76]:
final_list = sorted(list(set(final_list)))
if query in final_list:
    final_list.remove(query)
print(final_list)

['auto', 'automotive', 'changer', 'detroit', 'drive', 'driven', 'dynamic', 'electric', 'horn', 'machine', 'motorcar', 'motored', 'motorize', 'motorized', 'motown', 'racer', 'ride', 'route', 'zymosis']

In [77]:
length = len(final_list)
list_for_hint = []
for i in range(5):
    random_index = random.randint(0,length-1)
    if final_list[random_index] not in list_for_hint:
        list_for_hint.append(final_list[random_index])

In [78]:
print(list_for_hint)

['ride', 'motorcar', 'electric']

In [79]:
df = df.drop(['embedding1','embedding2','embedding3','embedding4','embedding5'],axis=1)

In [80]:
df.to_csv('wordle_dataset.csv')

In [81]:
import pickle
file=open("bert_embeddings.bin","wb")
pickle.dump(df2,file)
file.close()